<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <clear/>
    <add name="JTorrentConnectionString"
         connectionString="Data Source=LOCALHOST\SQLEXPRESS; Initial Catalog=JTorrentDB; Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>